<main class="main-section">
    <div class="login-section">
        <p-card>
            <h2>Login</h2>
            <div class="grid mt-2">
                <div class="col-12 md:col-12 lg:col-12">
                    <div class="p-fluid grid flex align-items-center justify-content-center flex-direction-column">
                        <div class="col-12 md:col-8 lg:col-8">
                            <span class="p-float-label p-input-icon-left">
                                <i class="pi pi-user icons-color"></i>
                                <input type="text" id="email" pInputText class="p-inputtext-md" [disabled]="isProcessing" [(ngModel)]="loginModel.username"> 
                                <label for="inputtext-left" class="text-500">Username</label>
                            </span>
                        </div>
                        <div class="col-12 md:col-8 lg:col-8">
                            <span class="p-float-label p-input-icon-left">
                                <i class="pi pi-lock icons-color"></i>
                                <input type="password" id="password" pInputText class="p-inputtext-md" [disabled]="isProcessing"
                                [(ngModel)]="loginModel.password"> 
                                <label for="inputtext-left" class="text-500">Password</label>
                            </span>
                        </div>
                        <div class="col-12 md:col-8 lg:col-8">
                            <span class="p-float-label p-input-icon-left">
                                <i class="pi pi-calendar icons-color"></i>
                                <input type="text" id="date" pInputText class="p-inputtext-md" [disabled]="true"
                                [(ngModel)]="dateToday">
                            </span>
                        </div>
                        <div class="col-12 md:col-8 lg:col-8">
                            <div class="field-checkbox">
                                <label for="privacy">
                                    <a href="https://human-incubator.com/privacy-policy/" target="_blank" rel="noopener noreferrer">Click here to view privacy policy.</a>
                                </label>
                            </div>
                        </div>
                        <div class="col-12 md:col-8 lg:col-8">
                            <button pButton type="button" label="Login" (click)="signIn()" [disabled]="isProcessing"></button>
                        </div>
                    </div>
                </div>
                <!--<div class="divider"></div>
                <div class="col-8 md:col-10 lg:col-10 ml-auto mr-auto">
                    <p-divider layout="horizontal" align="center">
                        Don’t have a Berben Logistics account?
                    </p-divider>
                </div>
                <div class="col-12 flex align-items-center justify-content-center">
                    <div class="p-fluid">
                        <div class="field">
                            <button pButton type="button" label="Register" class="register" routerLink="/security/register"></button>
                        </div>
                    </div>
                </div> -->
            </div>
            <p-toast></p-toast>
        </p-card> 
    </div>
</main>
